doctype html

html(lang="en")

  head

    title= pageTitle

    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')

    link(rel='stylesheet', href='bower_components/bootswatch/superhero/bootstrap.min.css')

    link(rel='stylesheet', href='css/style.css')

  body

    h1 Convert Markdown to Rendered HTML!

    .container

      button Click

    .container

      textarea(type='text', class='input col-xs-5', placeholder='Enter Markdown')

      div(type='text', class='output col-xs-7')

    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')

    script(src='bower_components/jquery/dist/jquery.min.js')

    script(type='text/javascript', src='js/main.js')