doctype html

html(lang="en")

  head

    title= pageTitle

    //- link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

    //- link(rel='stylesheet', href='https://bootswatch.com/superhero/bootstrap.min.css')

    link(rel='stylesheet', href='css/style.css')

  body

    h1 Convert Markdown to Rendered HTML!

    .container

      button Click

    .container

      textarea(type='text', class='input col-xs-5', placeholder='Enter Markdown')

      div(type='text', class='output col-xs-7')

    //- script(src='https://code.jquery.com/jquery-2.1.4.min.js')

    //- script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

    script(type='text/javascript', src='js/main.js')