body {
  text-align: center;
}

button {
  margin: 15px;
  background-color: #005A31;
  height: 40px;
  width: 62px;
  border-radius: 2px;
}

.input, .output {
  height: 75vh;
  border: 8px solid #A8CD1B;
}

.output {
  background-color: white;
  color: black;
}